@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-outfit: "Outfit", sans-serif;
}

body {
  font-family: var(--font-outfit);
}

* {
  scroll-behavior: smooth;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 360px) {
  .hpme-products {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}
